// Colours
@blue:rgb( 170, 36, 22 );
@green:rgb( 210, 208, 67 );
@brown:rgb( 16, 17, 12 );
@orange:rgb( 205, 111, 21 );
@grey:rgb( 220, 207, 152 );

@translucent:rgba( 212, 229, 215, 0.9 );
@translucent-dark:rgba( 56, 144, 163, 0.6 );
@transparent:rgba( 0, 0, 0, 0 );

@userA:@blue;
@userB:#B59E3E;//lighten( @blue, 20% );
@userC:#347D3E;//lighten( @blue, 40% );
@userD:#5F4A69;//lighten( @blue, 60% );