html
  head
  body
    header
    main
      ul#drumkit
        li#kick.drum
        li#conga.drum
        li#snare.drum
        li#hihat.drum

      ul#inputs
        li: input#input-frequency( title="Frequency", type="range", min="0", max="2000", value="1000")
        li: input#input-resonance( title="Q", type="range", min="1", max="100", value="10")
        li: input#input-gain( title="Gain", type="range", min="1", max="100", value="20")
